.flexBox{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;
}
.sectionFooter{
    background: var(--color-primary);
    
    padding: 0.625rem 0 ;
}